.text-success {
    color: green
}

.text-center {
    text-align: center
}

.w-200px {
    width: 200px
}

.h-100px {
    height: 100px
}

.bg-blue {
    background-color: dodgerblue
}

.bg-red {
    background-color: red
}

.bg-lightgreen {
    background-color: lightgreen
}

.d-inlineblock {
    display: inline-block
}

.box-model {
    /* border: 3px solid blue;
    margin: 10px 30px; */
    padding: 25px 500px 25px 25px
}

.w-50 {
    width: 50%
}

.h-50px {
    height: 50px
}

.h-200 {
    height: 200px
}

.h-600 {
    height: 600px
}

.h-150 {
    height: 150px
}

.w-15 {
    width: 15%
}

.w-69 {
    width: 69%
}

.w-99 {
    width: 99%
}

.w-40 {
    width: 40%
}
