.font-lobster {
    font-family: 'Lobster', cursive;
}

.mb-160px {
    margin-bottom: 160px;
}

.h-400px {
    height: 400px;
}

.h-450px {
    height: 450px;
}

.h-40 {
    height: 40%;
}

.h-60 {
    height: 60%;
}

.h-20 {
    height: 20%;
}

.w-60 {
    width: 60%
}

.w-35 {
    width: 35%
}

.bg-male {
    background-image: url(../image/male.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-female {
    background-image: url(../image/female.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.h-70 {
    height: 70%;
}


.h-150px {
    height: 150px;
}


.w-150px {
    width: 150px;
}


.bg-vote{
    background-image: url(../image/night.jpg);
    background-size: cover
}

.bg-vote1 {
    background-image: url(../image/Ha.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-vote2 {
    background-image: url(../image/hand.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-vote3 {
    background-image: url(../image/lightning.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-vote4 {
    background-image: url(../image/rocks.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-vote5 {
    background-image: url(../image/steel.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-vote6 {
    background-image: url(../image/woods.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-vote7 {
    background-image: url(../image/TuLinh.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-vote8 {
    background-image: url(../image/EmHa.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.border-w {
    border-width: 10px;
}

.h-80 {
    height: 80%;
}

.w-30 {
    width: 40%;
}

.h-20 {
    height: 20%;
}

.w-45 {
    width: 45%;
}

.h-70px {
    height: 70px;
}

.h-200px {
    height: 200px;
}

.w-80 {
    width: 80%
}

.h-30 {
    height: 30%;
}

.h-70 {
    height: 70%;
}

.bg-nhat {
    background-color: rgba(199, 199, 199, 0.863)
}

.w-200px {
    width: 200px
}

.h-600px {
    height: 600px;
}