<div class="d-flex h-400px w-100 flex-wrap">
    <div class="h-50 w-100 d-flex flex-wrap justify-content-center">
        <h4 class="pt-5 text-dark">Chào mừng bạn đã đến với Mùa Đông Không Lạnh</h4>
        <div class="font-lobster text-center text-dark px-5">"Chúng tôi ở đây là để giúp cho bạn có mối quan hệ tốt đẹp với gia đình người thân trong khi vẫn giữ được sự tự do và riêng tư, cũng như quyết định của bản thân bạn"</div>
    </div>
    <div class="h-50 w-100 d-flex justify-content-around align-items-center">
        <a href="https://www.google.com.vn" class="bg-female h-70 w-35 d-flex justify-content-end align-items-center px-5 text-light">
            Bạn là Nam
        </a>
        
        <a href="https://www.google.com.vn" class="bg-male h-70 w-35 d-flex justify-content-start align-items-center px-5 text-light">
            Bạn là Nữ
        </a>
    </div>
</div>