<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ service.name }} detail</title>
</head>
<body>
    <img src="{{ service.img }}" width="400" height="400" alt="">     
    <h2>{{ service.name }}</h2>
    <p><b>Năm Sinh</b>: {{ service.yob }}</p>
    <p><b>Chiều Cao</b>: {{ service.height }}</p>
    <p><b>SDT</b>: {{ service.phone }}</p>
    <p><b>Địa chỉ</b>: {{ service.address }}</p>
    <p><b>Mô tả</b>: {{ service.description }}</p>
    <p><b>3 Vòng</b>: {{ service.measurement }}</p>
</body>
</html>